In [1]:
import pandas as pd
import sqlite3
from sqlalchemy import create_engine

In [2]:
data = pd.read_csv('products_hm_cleaned.csv')

In [3]:
data.head()

,product_id,product_category,product_name,product_price,style_id,color_id,product_colors,fit,scrapy_datetime,cotton,polyester,spandex
0,690449043,men_jeans_ripped,skinny_jeans,39.99,690449,43,light_denim_blue_trashed,skinny_fit,2022-03-11 21:11:24,0.98,0.0,0.02
1,690449043,men_jeans_ripped,skinny_jeans,39.99,690449,43,denim_blue,skinny_fit,2022-03-11 21:11:24,0.98,0.0,0.02
2,690449043,men_jeans_ripped,skinny_jeans,39.99,690449,43,black_washed,skinny_fit,2022-03-11 21:11:24,0.98,0.0,0.02
3,690449043,men_jeans_ripped,skinny_jeans,39.99,690449,43,light_denim_blue,skinny_fit,2022-03-11 21:11:24,0.98,0.0,0.02
4,690449043,men_jeans_ripped,skinny_jeans,39.99,690449,43,black_washed_out,skinny_fit,2022-03-11 21:11:24,0.98,0.0,0.02

In [4]:
# table schema
query_showroom_schema = """

    CREATE TABLE showroom(
        product_id        INTEGER, 
        product_category  TEXT, 
        product_name      TEXT, 
        product_price     REAL,
        style_id          INTEGER, 
        color_id          INTEGER,
        product_colors    TEXT, 
        fit               TEXT, 
        scrapy_datetime   TEXT,
        cotton            REAL, 
        polyester         REAL, 
        spandex           REAL
    
    )
"""

In [5]:
# creation of database and table 'showroom'
conn = sqlite3.connect('hm_db.sqlite')  # connect to db or create it if doesn't exist
cursor = conn.execute(query_showroom_schema)  # plan the execution
conn.commit()  # execute: create empty table 'showroom'
# conn.close()   # stop execution

In [14]:
conn = create_engine('sqlite:///hm_db.sqlite', echo=False)  # as I already have a db file, now I use create_engine

In [15]:
# insert data to table
data.to_sql('showroom', con=conn, if_exists='append', index=False)

In [16]:
# creation of a dataframe from 'showroom' table
query = """
    SELECT * FROM showroom
"""
df = pd.read_sql_query(query, conn)

In [17]:
df.head()

,product_id,product_category,product_name,product_price,style_id,color_id,product_colors,fit,scrapy_datetime,cotton,polyester,spandex
0,690449043,men_jeans_ripped,skinny_jeans,39.99,690449,43,light_denim_blue_trashed,skinny_fit,2022-03-11 21:11:24,0.98,0.0,0.02
1,690449043,men_jeans_ripped,skinny_jeans,39.99,690449,43,denim_blue,skinny_fit,2022-03-11 21:11:24,0.98,0.0,0.02
2,690449043,men_jeans_ripped,skinny_jeans,39.99,690449,43,black_washed,skinny_fit,2022-03-11 21:11:24,0.98,0.0,0.02
3,690449043,men_jeans_ripped,skinny_jeans,39.99,690449,43,light_denim_blue,skinny_fit,2022-03-11 21:11:24,0.98,0.0,0.02
4,690449043,men_jeans_ripped,skinny_jeans,39.99,690449,43,black_washed_out,skinny_fit,2022-03-11 21:11:24,0.98,0.0,0.02