In [181]:
import pandas as pd
import re

In [182]:
data = pd.read_csv('HM_data_raw.csv')

In [183]:
data.head()

,product_id,product_category,product_name,product_price,style_id,color_id,product_colors,Fit,Composition,Description,Imported,scrapy_datetime
0,985159001,men_jeans_skinny,Skinny Jeans,$ 19.99,985159,1,Denim blue,Skinny fit,"Shell: Cotton 99%, Spandex 1%",Black,Yes,2022-03-02 22:41:14.687600
1,985159001,men_jeans_skinny,Skinny Jeans,$ 19.99,985159,1,Denim blue,Skinny fit,Pocket lining: Cotton 100%,Solid-color,Yes,2022-03-02 22:41:14.687600
2,985159001,men_jeans_skinny,Skinny Jeans,$ 19.99,985159,1,Denim blue,Skinny fit,Pocket lining: Cotton 100%,Solid-color,Yes,2022-03-02 22:41:14.687600
3,985159001,men_jeans_skinny,Skinny Jeans,$ 19.99,985159,1,Denim blue,Skinny fit,Pocket lining: Cotton 100%,Solid-color,Yes,2022-03-02 22:41:14.687600
4,985159001,men_jeans_skinny,Skinny Jeans,$ 19.99,985159,1,Denim blue,Skinny fit,Pocket lining: Cotton 100%,Solid-color,Yes,2022-03-02 22:41:14.687600

In [184]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8361 entries, 0 to 8360
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   product_id        8361 non-null   int64
 1   product_category  8361 non-null   object
 2   product_name      8361 non-null   object
 3   product_price     8361 non-null   object
 4   style_id          8361 non-null   int64
 5   color_id          8361 non-null   int64
 6   product_colors    8361 non-null   object
 7   Fit               8361 non-null   object
 8   Composition       8361 non-null   object
 9   Description       8361 non-null   object
 10  Imported          8361 non-null   object
 11  scrapy_datetime   8361 non-null   object
dtypes: int64(3), object(9)
memory usage: 784.0+ KB

### Formatting data

In [185]:
# column names
data = data.rename(columns = {'Fit': 'fit', 'Composition': 'composition','Description':'description', 'Imported': 'imported'})

# product_name
data['product_name'] = data['product_name'].apply(lambda x: x.replace(' ', '_').lower())

# product_price
data['product_price'] = data['product_price'].apply(lambda x: x.replace('$', '')).astype(float)

# product_color
data['product_colors'] = data['product_colors'].apply(lambda x: x.replace(' ', '_').replace('/', '_').lower())

# fit
data['fit'] = data['fit'].apply(lambda x: x.replace(' ', '_').lower() if pd.notnull(x) else x)

# description
data['description'] = data['description'].apply(lambda x: x.replace(' ', '_').lower())

# scrapy_datetime
data['scrapy_datetime'] = data['scrapy_datetime'].apply(lambda x: re.search('(\d{4}-\d{2}-\d{2}\s\d{2}\:\d{2}\:\d{2})', x).group(0))
data['scrapy_datetime'] = pd.to_datetime(data['scrapy_datetime'], format='%Y-%m-%d %H:%M:%S')

data.head()

,product_id,product_category,product_name,product_price,style_id,color_id,product_colors,fit,composition,description,imported,scrapy_datetime
0,985159001,men_jeans_skinny,skinny_jeans,19.99,985159,1,denim_blue,skinny_fit,"Shell: Cotton 99%, Spandex 1%",black,Yes,2022-03-02 22:41:14
1,985159001,men_jeans_skinny,skinny_jeans,19.99,985159,1,denim_blue,skinny_fit,Pocket lining: Cotton 100%,solid-color,Yes,2022-03-02 22:41:14
2,985159001,men_jeans_skinny,skinny_jeans,19.99,985159,1,denim_blue,skinny_fit,Pocket lining: Cotton 100%,solid-color,Yes,2022-03-02 22:41:14
3,985159001,men_jeans_skinny,skinny_jeans,19.99,985159,1,denim_blue,skinny_fit,Pocket lining: Cotton 100%,solid-color,Yes,2022-03-02 22:41:14
4,985159001,men_jeans_skinny,skinny_jeans,19.99,985159,1,denim_blue,skinny_fit,Pocket lining: Cotton 100%,solid-color,Yes,2022-03-02 22:41:14

array([ 1, 51,  2,  6, 43, 36, 22, 56,  3,  4,  8,  5,  7, 10, 13],
      dtype=int64)